<div class="dashboard-layout">
  <!-- SIDEBAR -->
  <div class="sidebar">
    <h1 class="ims">IMS</h1>
    <ul class="nav-links">
       <li *ngIf="isAuth()"><a routerLink="/dashboard">Panel</a></li>
      <li *ngIf="isAuth()"><a routerLink="/transaction">Transacciones</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/category">Categorías</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/product">Productos</a></li>
      <li *ngIf="isAdmin()"><a routerLink="/supplier">Proveedores</a></li>
      <li *ngIf="isAuth()"><a routerLink="/purchase">Compras</a></li>
      <li *ngIf="isAuth()"><a routerLink="/sell">Ventas</a></li>
      <li *ngIf="isAuth()"><a routerLink="/profile">Perfil</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/login">Iniciar Sesión</a></li>
      <li *ngIf="!isAuth()"><a routerLink="/register">Registrarse</a></li>
      <li *ngIf="isAuth()"><a (click)="logOut()">Cerrar Sesión</a></li>
    </ul>
  </div>

  <!-- MAIN CONTENT Area-->
   <div class="main-content">
      <router-outlet></router-outlet>
   </div>
</div>